/*Body*/
body {
  background-color: moccasin;
  border: 10px solid #20314c;
  margin: 5%;
  padding: 2%;
}

/*images*/
.photo {
  margin-top: 10px;
  border-radius: 90%;
  grid-area: header;
  border: 5px solid #20314c;
}

.owl {
  margin-top: 10px;
  border: 5px solid #20314c;
  width: 70%;
  margin-left: 5px;
}

.sieve {
  margin-top: 10px;
  border: 5px solid #20314c;
  width: 70%;
  height: 61%;
  margin-left: 5px;
}

.past-header {
  text-align: center;
}
.past {
  text-align: left;
  font-size: x-large;
  grid-area: bio;
  width: auto;
  padding: 0px 15px;
  font-weight: 550;
  line-height: 1.7;
  margin-bottom: 100px;
}
.bio {
  text-align: left;
  font-size: x-large;
  grid-area: bio;
  width: auto;
  padding: 0px 15px;
  font-weight: 550;
  line-height: 1.7;
}

.bio2 {
  text-align: left;
  font-size: x-large;
  grid-area: bio2;
  width: auto;
  padding: 0px 15px;
  font-weight: 550;
  line-height: 1.7;
}

.name {
  grid-area: name;
  font-size: 250%;
  padding-left: 50px;
  border: 0;
  margin: 0;
  text-align: center;
  padding-top: 80px;
}

.previous {
  font-size: 250%;
  border: 0;
  margin: 0;
  text-align: center;
  padding-bottom: 40px;
}

.grid-container1 {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 0.1fr 0.8fr 1fr 1fr 1fr;
  grid-template-areas:
    'header name .'
    'header bio bio'
    'bio2 bio2 bio2'
    'bio2 bio2 bio2'
    'bio2 bio2 bio2';
}
.school {
  text-align: center;
  font-size: x-large;
  grid-area: school;
  width: auto;
  font-weight: 550;
  line-height: 1.4;
  padding: 0px 10px;
  border: 5px solid #20314c;
}
.primes {
  text-align: center;
  font-size: x-large;
  grid-area: primes;
  width: auto;
  padding: 0px 10px;
  font-weight: 550;
  line-height: 1.4;
  border: 5px solid #20314c;
}

.grid-projects {
  margin-bottom: 200px;
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.6fr 1fr;
  grid-template-areas:
    'school primes'
    'school primes';
}

/*Nav Bar*/
.nav-list {
  display: flex;
  justify-content: center;
  margin: 0;
  list-style-type: none;
  padding-left: 130px;
}

.link {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  background-color: #20314c;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  transition-duration: 0.4ms;
  float: left;
  border: none;
  width: auto;
}

.link:hover {
  background-color: darkslategray;
  color: white;
}

.link:active {
  background-color: darkslategrey;
}

.link:focus {
  border: 5px solid darkslategrey;
}

@media (min-width: 1px) and (max-width: 414px) {
  body {
    margin: 0px;
  }
  .grid-container1 {
    display: grid;
    flex-wrap: wrap;
    justify-content: left;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 1fr;
    grid-template-areas:
      'name'
      'header'
      'bio'
      'bio2';
  }
  .grid-projects {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'school'
      'primes';
  }
  .sieve {
    height: 40%;
    margin-left: 0;
  }
  .owl {
    margin-left: 0;
  }
  .photo {
    text-align: center;
    margin-top: 0;
    width: 95%;
  }
  .bio,
  .bio2 {
    width: 100%;
    padding: 0;
  }
  .name {
    font-size: 250%;
    border: 0;
    margin: 0;
    text-align: center;
    padding: 0;
    padding-right: 13px;
  }
  .nav-list {
    padding: 0;
  }
  .link {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    background-color: #20314c;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    transition-duration: 0.4ms;
    float: left;
    border: none;
    width: auto;
  }
}
@media (min-width: 415px) and (max-width: 768px) {
  body {
    margin: 0px;
  }
  .grid-container1 {
    display: grid;
    flex-wrap: wrap;
    justify-content: left;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 0.1fr 1fr;
    grid-template-areas:
      'header name'
      'header bio'
      'bio2 bio2';
  }
  .grid-projects {
    margin-bottom: 150px;
  }
  .sieve {
    height: 32.5%;
    margin-left: 0;
  }
  .owl {
    margin-left: 0;
  }
  .photo {
    align-self: center;
    width: 100%;
    margin-bottom: 10px;
  }
  .bio,
  .bio2 {
    width: 100%;
  }
  .name {
    margin-right: 60px;
    padding-top: 30px;
  }
  .nav-list {
    padding: 0;
  }
  .link {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    background-color: #20314c;
    font-size: auto;
    font-weight: bold;
    text-align: center;
    transition-duration: 0.4ms;
    float: left;
    border: none;
    width: auto;
  }
}
